/.vs
/src/apis/SdProject.Apis/bin
/src/apis/SdProject.Apis/obj
/src/apis/SdProject.Businesses/bin
/src/apis/SdProject.Businesses/obj
/src/apis/SdProject.Cores/bin
/src/apis/SdProject.Cores/obj
/tests/SdProject.Businesses.Tests/bin
/tests/SdProject.Businesses.Tests/obj
/.idea
